h2 {
    margin: 0;
}
.container {
    padding: 20px;
}
.favorite-data {
    display: flex;
    flex-direction: column;
}
.favorite-data li {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.favorite-data img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.job-overall {
    display: flex;
    justify-content: space-between;
}
.job-overall-primary {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}
.add-application-btn {
    width: 140px;
    border-radius: 7px;
    border: none;
    background-color: #268d61;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
}
.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-bottom: 10px;
}

.popup-content form {
    display: grid;
    gap: 10px;
}

.popup-content input[type="text"],
.popup-content select {
    border: 1px solid #e6eae9;
    border-radius: 5px;
    padding: 10px;
}

.popup-content input[type="text"]::placeholder {
    font-size: 15px;
    margin: 5px 10px;
}

.popup-content input[type="text"]:hover {
    border-color: #121927;
}

.popup-content .close-overlay-button {
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 10px;
    cursor: pointer;
    color: #333;
}

input[type="number"] {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e6eae9;
}

.save-button {
    margin: 0 auto;
    width: 25%;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #9555ff;
    align-items: center;
    justify-content: center;
}

.close-overlay-button {
    background: #fff;
    border: none;
}
.section-row {
    display: flex;
    gap: 40px;
}
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}

.form-row label {
    text-align: left;
}
textarea {
    height: 100px;
    width: 400px;
    border-radius: 5px;
    border: 2px dashed #e9eef3;
}
.add-button {
    margin: 0 auto;
    width: 25%;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #268d61;
}
